.input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray
}

.inputDate{
    height: 35px;
    width: 60.3%;
    border-radius: 5px;
    border: 1px solid gray
}

@media screen and (max-width: 655px) {
    .input{
        width: 96%;
    }
    .inputDate{
        width: 96.7%;
    }
    .inputLabel{
        margin-left: 10px;
    }
}

.checkbox{
    width: 3%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray
}

.checkboxBlock{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .checkbox{
        width: 5%;
    }
}