.taskContainerWork{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.taskTextWork{
    width: 40%;
}

.taskElementWork{
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}

.taskElementWork span,p{
    font-size: 16px;
    margin-right: 5%;
}

.elementForWork{
    padding: 15px;
    margin: 15px 15px 15px 5px;
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}

.completeButtonWork{
    height: 50px;
}

@media screen and (max-width: 1100px){
    .taskContainerWork{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .taskTextWork{
        width: 100%;
    }
    .taskContainerWork{
        flex-wrap: wrap;
    }
    .completeButtonWork{
        margin-right: 8%;
        height: 40px;
    }
}