.select{
    border-radius: 5px;
    border: 1px solid gray;
    margin: 7px;
    height: 35px;
    width: 60.5%
}

@media screen and (max-width: 655px){
    .select{
        width: 96.9%;
    }
    .selectInput{
        margin-left: 10px;
    }
}
