.container{
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .container{
        width: 100%;
        margin: 0px 30px;
    }
}

.searchInput{
    height: 30px;
    width: 40%;
}

.textarea-block{
    margin-left: 7px;
}

.taskElement{
    padding: 15px;
    margin: 15px;
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}

.taskElement span{
    font-size: 16px;
    margin-right: 5%;
}
.taskElement p{
    font-size: 16px;
    margin-right: 5%;
}

.companyElement{
    padding: 15px;
    margin: 15px;
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}

.inputForCreate{
    width: 60%;
    height: 30px;
}

.checkboxForCreate{
    width: 5%;
}

.checkboxBlock{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

input, select{
    border-radius: 5px;
    border: 1px solid gray
}

select{
    margin: 7px;
    height: 35px;
    width: 60.5%
}

.selectSearchInput{
    width: 40.4%;
}

.editButton{
    margin: 0;
    padding: 10px;
    color: White;
}

.deleteButton{
        margin: 0;
        padding: 11px;
        background-color: #f44336;
}

table, td, th {
    border: 2px solid black
}
