/* 

.container{
    width: 80%;
}

@media screen and (max-width: 1150px) {
    .container{
        width: 100%;
        margin: 0px 30px;
    }
}

.textarea-block{
    margin-left: 7px;
}

.taskElement{
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}

.taskElement span{
    font-size: 16px;
    margin-right: 5%;
}
.taskElement p{
    font-size: 16px;
    margin-right: 5%;
}

.companyElement{
    padding: 15px;
    margin: 15px;
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}


.editButton{
    margin: 0;
    padding: 10px;
    color: White;
}

.deleteButton{
        margin: 0;
        padding: 11px;
        background-color: #f44336;
}

table, th {
    border: 2px solid black
}
th{
    height: 22px;
    padding: 3px;
}
table{
    width: 100%;
    margin-bottom: 20px;
}

.standartTask{
    margin-bottom: 15px;
}

.standartTaskText{
    margin-right: 15px;
}

.taskContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.taskText{
    width: 40%;
}

.taskPeriod{
    width: 30%
}

.loginRegisterInputBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablesStatistics{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tableInStatistics{
    width: auto;
    height: fit-content;
}

    .tableInStatistics th{
        padding: 10px 20px;
    }

.statElement{
    height: fit-content;
}

.tableInLicenses{
    width: auto;
    height: fit-content;
    margin-top: 30px;
}

    .tableInLicenses th{
        padding: 10px 20px;
    }

.printWorkersTable{
    width: 100%;
    margin-left: 0;
}
 */
