.main-block{
    background-color: rgb(234, 234, 245);
    border-radius: 15px;
    margin: 20px;
    padding: 2% 12% 15% 12%;
}

.description-input{
    height: 50px;
    width: 250px;
}

.textarea-block{
    margin-left: 7px;
}

.element{
    padding: 15px;
    margin: 15px;
    background-color: rgb(169, 195, 250);
    border-radius: 10px;
}