.elementForStat{
    height: fit-content;
}

.tableForStat{
    border: 2px solid black;
    width: 600px;
    margin-bottom: 20px;
}

.thForStat{
    border: 2px solid black;
    height: 22px;
    padding: 8px;
}

.tablesForStat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.printForStat{
    width: 600px;
    margin-left: 0px;
}

.chosenType{
    background-color: #2e8b57;
}